In [1]:
# -*-coding:utf8-*-
import pandas as pd
from wilson_modules import msg_count
from wilson_modules import data_process
import pandas as pd
from my_package import to_mysql

In [2]:
df = pd.read_csv('/home/wilson/Desktop/databases/content_sig_labeling_withNaN.csv')

### count messages for every user in database

In [3]:
df_name_sig = msg_count.count_msg(df)

In [4]:
df_name_sig.index.name='user_nickname'
df_name_sig.reset_index(inplace=True)

In [5]:
df_name_sig.head()

,user_nickname,content,region,city,signature,msg_count
0,å·«æ•™ç»ƒ,æ­å–œæ­å–œï¼,NaN,NaN,æ˜é€šé©¾æ ¡ä¸€æ¸©èé¦–å®¶åäººé©¾æ ¡\nç”µè¯:519â€”257â€”8840,29
1,YiF,å“¦,Ontario,Toronto,YiFï¼Œæ²¡æœ‰å¦‚æœ,2
2,Jim,é¢å¯¹ç½ªçŠ¯æŒ¥èˆæ‰‹ä¸­çš„æ‰‹æªï¼Œé‚£ä¸ªè­¦å‘˜å†’ç€å±é™©ï¼Œå†·é™å¤„ç†è¿™äº‹ï¼ŒæŠ“ä½äº†ç½ªçŠ¯ï¼Œå€¼å¾—ç§°èµğŸ‘ - è¿™ç§æƒ…å†µ...,Toronto,NaN,æœ€åè®©å†°æº¶è§£çš„ä¸€å®šæ˜¯æ˜¥å¤©,4
3,å¡¬,å‘¨æ•™ç»ƒæ•™çš„å¥½[å‘²ç‰™],é™•è¥¿,è¥¿å®‰,NaN,1
4,éŠ˜éŠ˜,æä¾›æ˜å¤©ä¸­åˆå»å¤šä¼¦å¤šçš„carpool,åŒ—äº¬,æµ·æ·€,NaN,2

### convert signature and username to numeric data

In [6]:
df_name_sig['signature'] = df_name_sig['signature'].fillna(0)
df_string = data_process.apply_and_concat(df_name_sig, 'signature', data_process.string_len, ['count_en', 'count_dg', 'count_sp', 'count_zh', 'count_pu'])
df_string['ads_status'] = df_name_sig['signature'].apply(data_process.ads_search)
df_string['phone_status'] = df_name_sig['signature'].apply(data_process.phone_search)
df_string = data_process.apply_and_concat(df_string, 'signature', data_process.count_words, ['kind_words', 'num_words'])
# dealing with the user_nickname
df_string['name_status'] = df_name_sig['user_nickname'].apply(data_process.ads_search)
df_string['name_phone'] = df_name_sig['user_nickname'].apply(data_process.phone_search)

In [7]:
df_string.drop(['content','region','city','signature'],axis=1,inplace=True)

In [8]:
df_string.to_csv('/home/wilson/Desktop/databases/numeric_data.csv',line_terminator='\r\n')

In [9]:
df_string.head()

,user_nickname,msg_count,count_en,count_dg,count_sp,count_zh,count_pu,ads_status,phone_status,kind_words,num_words,name_status,name_phone
0,å·«æ•™ç»ƒ,29,0,10,1,15,3,0,0,3,3,0,1
1,YiF,2,3,0,0,4,1,1,1,1,1,1,1
2,Jim,4,0,0,0,12,0,1,1,0,0,1,1
3,å¡¬,1,0,0,0,0,0,1,1,0,0,1,1
4,éŠ˜éŠ˜,2,0,0,0,0,0,1,1,0,0,1,1